//Основная структура нашей кнопки-образца должна оставаться стабильной, но цвет ее можно изменять:
// @mixin scotch-button-theme($color, $color-text-hover: $color-light) {
//     color: $color;
//     border-color: $color;
//     background-color: transparent;
//     &:hover {
//         color: $color-text-hover;
//         background-color: $color;
//     }
// }

@mixin font ($size, $height: $size, $weight: 400, $style: normal) {
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
}