.footer{
  padding-top: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin-top: auto;
  margin-bottom: 0;
}
.footer__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}